#body{
	margin: 0 auto;
	width: 80%;
	padding: 10px 30px 30px 10px;
}
#name{
	text-align: center;	
}
#photo{
	width: 20%;
	margin: 10px 10px;
}
.personalData{
	display: inline-block;
	vertical-align: top;
	margin-left: 100px;
}
.years{
	text-align: right;
	padding-right: 30px;
}
th{
	text-align: right;
	padding-right: 50px;
	width: 25%;
	vertical-align: text-top;
}